<%- include('partials/header.ejs', {pathPrefix: ''}); %>

<p class="bio">Dave Perrett is a developer and musician living in Brooklyn, NY.</p>

<ul class="posts-list">
<% let date; %>
<% files.forEach((file) => { %>
  <% date = new Date(file.data.date); %>
  <li class="posts-list__item">
    <a href="posts/<%= file.data.filename %>"><%= file.data.title %></a> &#1421; <%= date.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'}) %>
  </li>
<% }); %>
</ul>

<%-include('partials/footer.ejs'); %>

